.site-header {
  display: flex;
  padding: 40px 0px;
  align-items: center;
}

.site-header__title {
  font-size: 2rem;
  color: #282c34;
  font-weight: 900;
}

.site-header__icon {
  width: 30px;
  object-fit: contain;
  margin-left: 10px;
}
